.App {
    width: 100vw;
}

.btn-primary {
    background-color: #7843e9;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.btn-lg {
    padding: 1rem 4rem;
}

.section-heading,
.section-info {
    text-align: center;
}

.section-heading {
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0.5rem 0;
}

.underline {
    border: 3px solid #7843e9;
    border-radius: 10px;
    width: 30px;
    margin: auto;
}

.section-info {
    padding: 1rem 0;
    font-size: 1.3rem;
    color: #555;
    line-height: 1.6;
    max-width: 50rem;
    position: relative;
    margin: auto;
}